openapi: 3.0.0

info:
  title: ManageInvite API
  description: The official API of the [ManageInvite Discord BOT](https://manage-invite.xyz).
  version: 1.0.0

security:
  - bearerAuth: []

servers:
  - url: https://api.manage-invite.xyz
    description: Officiel ManageInvite Server
  - url: http://localhost:3300
    description: Localhost server (for development)

paths:
  /guilds/{guildId}/settings:
    get:
      tags:
        - Guilds
      summary: Returns the settings of a specific guild
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to get the settings of
      responses:
        "200":
          description: The guild settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuildSettings"
    post:
      tags:
        - Guilds
      summary: Update the settings of a specific guild
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to update the settings of
      requestBody:
        description: The new guild settings
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GuildSettings"
      responses:
        "200":
          description: The updated guild settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuildSettings"
  /guilds/{guildId}/plugins:
    get:
      tags:
        - Guilds
      summary: Returns the plugins of a specific guild
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to get the plugins of
      responses:
        "200":
          description: The guild plugins
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GuildPlugin"
  /guilds/{guildId}/plugins/{pluginName}:
    post:
      tags:
        - Guilds
      summary: Update a specific plugin of a guild
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to update the plugin of
        - in: path
          name: pluginName
          schema:
            type: string
          required: true
          description: The name of the plugin you want to update
      responses:
        "200":
          description: The new guild plugins
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GuildPlugin"
  /guilds/{guildId}/blacklisted:
    get:
      tags:
        - Guilds
      summary: Returns the blacklisted users of the guild
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to get the blacklisted users of
      responses:
        "200":
          description: The guild blacklisted users
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /guilds/{guildId}/blacklisted/{userId}:
    post:
      tags:
        - Guilds
      summary: Blacklists new users
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to blacklist the user on
        - in: path
          name: userId
          schema:
            type: string
          required: true
          description: The ID of the user you want to blacklist
      responses:
        "200":
          description: The guild blacklisted users
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
    delete:
      tags:
        - Guilds
      summary: Unblacklist blacklisted users
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to un-blacklist the user on
        - in: path
          name: userId
          schema:
            type: string
          required: true
          description: The ID of the user you want to un-blacklist
      responses:
        "200":
          description: The guild blacklisted users
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /guilds/{guildId}/alerts:
    get:
      tags:
        - Guilds
      summary: Returns the alerts of the guild
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to get the alerts of
      responses:
        "200":
          description: The guild alerts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GuildAlert"
    post:
      tags:
        - Guilds
      summary: Create a new guild alert
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to add the alert to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GuildAlert"
      responses:
        "200":
          description: The new guild alerts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GuildMember"
  /guilds/{guildId}/alerts/{inviteCount}:
    delete:
      tags:
        - Guilds
      summary: Deletes a guild alert
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild to delete the alert from
        - in: path
          name: inviteCount
          schema:
            type: string
          required: true
          description: The invite count of the alert you want to deleted (used as an ID)
      responses:
        "200":
          description: The new guild alerts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GuildAlert"
  /guilds/{guildId}/storages:
    get:
      tags:
        - Guilds
      summary: Returns the guild storages of the guild
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to get the storages of
      responses:
        "200":
          description: The guild storages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GuildStorage"
    post:
      tags:
        - Guilds
      summary: Create a new guild storage
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to change the storage of
      responses:
        "200":
          description: The new guild storage
          content:
            application/json:
              schema:
                type: object
                properties:
                  storages:
                    type: array
                    items:
                      $ref: "#/components/schemas/GuildStorage"
                  settings:
                    $ref: "#/components/schemas/GuildSettings"
  /guilds/{guildId}/leaderboard:
    get:
      tags:
        - Guilds
      summary: Returns the guild leaderboard
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to get the leaderboard of
      responses:
        "200":
          description: The guild leaderboard
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserLeaderboardEntry"
  /guilds/{guildId}/members/{userId}:
    get:
      tags:
        - Members
      summary: Returns the guild member invites
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild of the member
        - in: path
          name: userId
          schema:
            type: string
          required: true
          description: The ID of the user you want to get the data of
      responses:
        "200":
          description: The guild member data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuildMember"
    post:
      tags:
        - Members
      summary: Add invites to a member
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild of the member
        - in: path
          name: userId
          schema:
            type: string
          required: true
          description: The ID of the user you want to add invites to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GuildMemberInvitesUpdate"
      responses:
        "200":
          description: The new guild member data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuildMember"
  /guilds/{guildId}/members/{userId}/events:
    get:
      tags:
        - Members
      summary: Returns the guild member events
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild of the member
        - in: path
          name: userId
          schema:
            type: string
          required: true
          description: The ID of the user you want to get the events of
      responses:
        "200":
          description: The guild member events
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuildMemberEvent"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    GuildStorage:
      type: object
      properties:
        guildID:
          type: string
        storageID:
          type: string
        createdAt:
          type: integer
    GuildSettings:
      type: object
      properties:
        guildID:
          type: string
        storageID:
          type: string
        language:
          type: string
        prefix:
          type: string
        keepRanks:
          type: boolean
        stackedRanks:
          type: boolean
        cmdChannel:
          type: string
        fakeThreshold:
          type: integer
    GuildPlugin:
      type: object
      properties:
        guildID:
          type: string
        pluginName:
          type: string
        pluginData:
          type: object
    UserLeaderboardEntry:
      type: object
      properties:
        userID:
          type: string
        invites:
          type: integer
        regular:
          type: integer
        leaves:
          type: integer
        bonus:
          type: integer
        fake:
          type: integer
        username:
          type: string
        discriminator:
          type: string
        avatarURL:
          type: string
    GuildMember:
      type: object
      properties:
        userID:
          type: string
        guildID:
          type: string
        storageID:
          type: string
        fake:
          type: integer
        leaves:
          type: integer
        bonus:
          type: integer
        regular:
          type: integer
        notCreated:
          type: boolean
        invites:
          type: integer
    GuildMemberEvent:
      type: object
      properties:
        userID:
          type: string
        guildID:
          type: string
        eventType:
          type: string
          example: join, leave
        eventDate:
          type: integer
        joinType:
          type: string
          example: normal, oauth, vanity, perm, unknown
        inviterID:
          type: string
        inviteData:
          type: object
        storageID:
          type: string
        joinFake:
          type: boolean
    GuildAlert:
      type: object
      properties:
        guildID:
          type: string
        inviteCount:
          type: integer
        channelID:
          type: string
        message:
          type: string
        up:
          type: boolean
        down:
          type: boolean
    GuildMemberInvitesUpdate:
      type: object
      properties:
        number:
          type: number
          example: 10
          description: The number of invites to add (use negative to remove)
        type:
          type: string
          example: bonus
          description: The type of invites to add/remove (leave, fake, regular or bonus)
