{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "ManageInvite API",
    "description" : "The official API of the [ManageInvite Discord BOT](https://manage-invite.xyz).",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://api.manage-invite.xyz",
    "description" : "Officiel ManageInvite Server"
  }, {
    "url" : "http://localhost:3300",
    "description" : "Localhost server (for development)"
  } ],
  "security" : [ {
    "bearerAuth" : [ ]
  } ],
  "paths" : {
    "/guilds/{guildId}/settings" : {
      "get" : {
        "tags" : [ "Guilds" ],
        "summary" : "Returns the settings of a specific guild",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "The ID of the guild you want to get the settings of",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The guild settings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GuildSettings"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Guilds" ],
        "summary" : "Update the settings of a specific guild",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "The ID of the guild you want to update the settings of",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The new guild settings",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GuildSettings"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The updated guild settings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GuildSettings"
                }
              }
            }
          }
        }
      }
    },
    "/guilds/{guildId}/plugins" : {
      "get" : {
        "tags" : [ "Guilds" ],
        "summary" : "Returns the plugins of a specific guild",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "The ID of the guild you want to get the plugins of",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The guild plugins",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GuildPlugin"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/guilds/{guildId}/plugins/{pluginName}" : {
      "post" : {
        "tags" : [ "Guilds" ],
        "summary" : "Update a specific plugin of a guild",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "The ID of the guild you want to update the plugin of",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pluginName",
          "in" : "path",
          "description" : "The name of the plugin you want to update",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The new guild plugins",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GuildPlugin"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/guilds/{guildId}/blacklisted" : {
      "get" : {
        "tags" : [ "Guilds" ],
        "summary" : "Returns the blacklisted users of the guild",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "The ID of the guild you want to get the blacklisted users of",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The guild blacklisted users",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Guilds" ],
        "summary" : "Blacklists new users",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "The ID of the guild you want to blacklist the user on",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The IDs of the users you want to blacklist",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The guild blacklisted users",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Guilds" ],
        "summary" : "Unblacklist blacklisted users",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "The ID of the guild you want to un-blacklist the user on",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The IDs of the users you want to un-blacklist",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The guild blacklisted users",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/guilds/{guildId}/leaderboard" : {
      "get" : {
        "tags" : [ "Guilds" ],
        "summary" : "Returns the guild leaderboard",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "The ID of the guild you want to get the leaderboard of",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The guild leaderboard",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UserLeaderboardEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/guilds/{guildId}/subscriptions" : {
      "get" : {
        "tags" : [ "Guilds" ],
        "summary" : "Returns the guild subscriptions",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "The ID of the guild you want to get the subscriptions of",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The guild subscriptions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GuildSubscription"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subId}/payments" : {
      "get" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Returns the subscription payments",
        "parameters" : [ {
          "name" : "subId",
          "in" : "path",
          "description" : "The ID of the subscription you want to get the payments of",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The subscription payments",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SubscriptionPayment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/guilds/{guildId}/members/{memberId}" : {
      "get" : {
        "tags" : [ "Members" ],
        "summary" : "Returns the guild member invites",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "The ID of the guild of the member",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "memberId",
          "in" : "path",
          "description" : "The ID of the user you want to get the data of",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The guild member data",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GuildMember"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Members" ],
        "summary" : "Add invites to a member",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "The ID of the guild of the member",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "memberId",
          "in" : "path",
          "description" : "The ID of the user you want to add invites to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The new guild member data",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GuildMember"
                }
              }
            }
          }
        }
      }
    },
    "/guilds/{guildId}/members/{memberId}/events" : {
      "get" : {
        "tags" : [ "Members" ],
        "summary" : "Returns the guild member events",
        "parameters" : [ {
          "name" : "guildId",
          "in" : "path",
          "description" : "The ID of the guild of the member",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "memberId",
          "in" : "path",
          "description" : "The ID of the user you want to get the events of",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The guild member events",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GuildMemberEvent"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "GuildStorage" : {
        "type" : "object",
        "properties" : {
          "guildID" : {
            "type" : "string"
          },
          "storageID" : {
            "type" : "string"
          },
          "createdAt" : {
            "type" : "integer"
          }
        }
      },
      "GuildSubscription" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "expiresAt" : {
            "type" : "string"
          },
          "createdAt" : {
            "type" : "string"
          },
          "subLabel" : {
            "type" : "string"
          },
          "guildsCount" : {
            "type" : "integer"
          },
          "patreonUserID" : {
            "type" : "string"
          },
          "cancelled" : {
            "type" : "boolean"
          },
          "subInvalidated" : {
            "type" : "boolean"
          }
        }
      },
      "SubscriptionPayment" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "payerDiscordID" : {
            "type" : "string"
          },
          "amount" : {
            "type" : "integer"
          },
          "createdAt" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          },
          "transactionID" : {
            "type" : "string"
          },
          "details" : {
            "type" : "object"
          },
          "modDiscordID" : {
            "type" : "string"
          },
          "signupID" : {
            "type" : "string"
          },
          "payerEmail" : {
            "type" : "string"
          },
          "payerDiscordUsername" : {
            "type" : "string"
          }
        }
      },
      "GuildSettings" : {
        "type" : "object",
        "properties" : {
          "guildID" : {
            "type" : "string"
          },
          "storageID" : {
            "type" : "string"
          },
          "language" : {
            "type" : "string"
          },
          "prefix" : {
            "type" : "string"
          },
          "keepRanks" : {
            "type" : "boolean"
          },
          "stackedRanks" : {
            "type" : "boolean"
          },
          "cmdChannel" : {
            "type" : "string"
          },
          "fakeThreshold" : {
            "type" : "integer"
          }
        }
      },
      "GuildPlugin" : {
        "type" : "object",
        "properties" : {
          "guildID" : {
            "type" : "string"
          },
          "pluginName" : {
            "type" : "string"
          },
          "pluginData" : {
            "type" : "object"
          }
        }
      },
      "UserLeaderboardEntry" : {
        "type" : "object",
        "properties" : {
          "userID" : {
            "type" : "string"
          },
          "invites" : {
            "type" : "integer"
          },
          "regular" : {
            "type" : "integer"
          },
          "leaves" : {
            "type" : "integer"
          },
          "bonus" : {
            "type" : "integer"
          },
          "fake" : {
            "type" : "integer"
          }
        }
      },
      "GuildMember" : {
        "type" : "object",
        "properties" : {
          "userID" : {
            "type" : "string"
          },
          "guildID" : {
            "type" : "string"
          },
          "storageID" : {
            "type" : "string"
          },
          "fake" : {
            "type" : "integer"
          },
          "leaves" : {
            "type" : "integer"
          },
          "bonus" : {
            "type" : "integer"
          },
          "regular" : {
            "type" : "integer"
          },
          "notCreated" : {
            "type" : "boolean"
          },
          "invites" : {
            "type" : "integer"
          }
        }
      },
      "GuildMemberEvent" : {
        "type" : "object",
        "properties" : {
          "userID" : {
            "type" : "string"
          },
          "guildID" : {
            "type" : "string"
          },
          "eventType" : {
            "type" : "string",
            "example" : "join, leave"
          },
          "eventDate" : {
            "type" : "integer"
          },
          "joinType" : {
            "type" : "string",
            "example" : "normal, oauth, vanity, perm, unknown"
          },
          "inviterID" : {
            "type" : "string"
          },
          "inviteData" : {
            "type" : "object"
          },
          "storageID" : {
            "type" : "string"
          },
          "joinFake" : {
            "type" : "boolean"
          }
        }
      },
      "body" : {
        "properties" : {
          "number" : {
            "type" : "number",
            "description" : "The number of invites to add (use negative to remove)",
            "example" : 10
          },
          "type" : {
            "type" : "string",
            "description" : "The type of invites to add/remove (leave, fake, regular or bonus)",
            "example" : "bonus"
          }
        }
      }
    },
    "securitySchemes" : {
      "bearerAuth" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    }
  }
}