openapi: 3.0.0

info:
  title: ManageInvite API
  description: The official API of the [ManageInvite Discord BOT](https://manage-invite.xyz).
  version: 1.0.0

security:
  - bearerAuth: []

servers:
  - url: https://api.manage-invite.xyz
    description: Officiel ManageInvite Server
  - url: http://localhost:3300
    description: Localhost server (for development)

paths:
  /guilds/{guildId}/settings:
    get:
      tags:
        - Guilds
      summary: Returns the settings of a specific guild
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to get the settings of
      responses:
        "200":
          description: The guild settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuildSettings"
    post:
      tags:
        - Guilds
      summary: Update the settings of a specific guild
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to update the settings of
      requestBody:
        description: The new guild settings
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GuildSettings"
      responses:
        "200":
          description: The updated guild settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuildSettings"
  /guilds/{guildId}/plugins:
    get:
      tags:
        - Guild
      summary: Returns the plugins of a specific guild
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to get the plugins of
      responses:
        "200":
          description: The guild plugins
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GuildPlugin"
  /guilds/{guildId}/plugins/{pluginName}:
    post:
      tags:
        - Guilds
      summary: Update a specific plugin of a guild
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to update the plugin of
        - in: path
          name: pluginName
          schema:
            type: string
          required: true
          description: The name of the plugin you want to update
      responses:
        "200":
          description: The new guild plugins
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GuildPlugin"
  /guilds/{guildId}/blacklisted:
    get:
      tags:
        - Guilds
      summary: Returns the blacklisted users of the guild
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to get the blacklisted users of
      responses:
        "200":
          description: The guild blacklisted users
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
    post:
      tags:
        - Guilds
      summary: Blacklists new users
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to blacklist the user on
      requestBody:
        description: The IDs of the users you want to blacklist
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        "200":
          description: The guild blacklisted users
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
    delete:
      tags:
        - Guilds
      summary: Unblacklist blacklisted users
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to un-blacklist the user on
      requestBody:
        description: The IDs of the users you want to un-blacklist
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        "200":
          description: The guild blacklisted users
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /guilds/{guildId}/leaderboard:
    get:
      tags:
        - Guilds
      summary: Returns the guild leaderboard
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to get the leaderboard of
      responses:
        "200":
          description: The guild leaderboard
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserLeaderboardEntry"
  /guilds/{guildId}/subscriptions:
    get:
      tags:
        - Guilds
      summary: Returns the guild subscriptions
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild you want to get the subscriptions of
      responses:
        "200":
          description: The guild subscriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GuildSubscription"
  /subscriptions/{subId}/payments:
    get:
      tags:
        - Subscriptions
      summary: Returns the subscription payments
      parameters:
        - in: path
          name: subId
          schema:
            type: string
          required: true
          description: The ID of the subscription you want to get the payments of
      responses:
        "200":
          description: The subscription payments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubscriptionPayment"
  /guilds/{guildId}/members/{memberId}:
    get:
      tags:
        - Members
      summary: Returns the guild member invites
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild of the member
        - in: path
          name: memberId
          schema:
            type: string
          required: true
          description: The ID of the user you want to get the data of
      responses:
        "200":
          description: The guild member data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuildMember"
    post:
      tags:
        - Members
      summary: Add invites to a member
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild of the member
        - in: path
          name: memberId
          schema:
            type: string
          required: true
          description: The ID of the user you want to add invites to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                number:
                  type: number
                  example: 10
                  description: The number of invites to add (use negative to remove)
                type:
                  type: string
                  example: bonus
                  description: The type of invites to add/remove (leave, fake, regular or bonus)
      responses:
        "200":
          description: The new guild member data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuildMember"
  /guilds/{guildId}/members/{memberId}/events:
    get:
      tags:
        - Members
      summary: Returns the guild member events
      parameters:
        - in: path
          name: guildId
          schema:
            type: string
          required: true
          description: The ID of the guild of the member
        - in: path
          name: memberId
          schema:
            type: string
          required: true
          description: The ID of the user you want to get the events of
      responses:
        "200":
          description: The guild member events
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuildMemberEvent"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CountGuildInvites:
      type: object
      properties:
        leaves:
          type: integer
        regular:
          type: integer
        fake:
          type: integer
        bonus:
          type: integer
    GuildStorage:
      type: object
      properties:
        guildID:
          type: string
        storageID:
          type: string
        createdAt:
          type: integer
    GuildSubscription:
      type: object
      properties:
        id:
          type: string
        expiresAt:
          type: string
        createdAt:
          type: string
        subLabel:
          type: string
        guildsCount:
          type: integer
        patreonUserID:
          type: string
        cancelled:
          type: boolean
        subInvalidated:
          type: boolean
    SubscriptionPayment:
      type: object
      properties:
        id:
          type: string
        payerDiscordID:
          type: string
        amount:
          type: integer
        createdAt:
          type: string
        type:
          type: string
        transactionID:
          type: string
        details:
          type: object
        modDiscordID:
          type: string
        signupID:
          type: string
        payerEmail:
          type: string
        payerDiscordUsername:
          type: string
    GuildSettings:
      type: object
      properties:
        guildID:
          type: string
        storageID:
          type: string
        language:
          type: string
        prefix:
          type: string
        keepRanks:
          type: boolean
        stackedRanks:
          type: boolean
        cmdChannel:
          type: string
        fakeThreshold:
          type: integer
    PremiumStatus:
      type: object
      properties:
        guildID:
          type: string
        isPremium:
          type: boolean
        isTrial:
          type: boolean
    GuildSubscriptionStatus:
      type: object
      properties:
        isPayPal:
          type: boolean
        isCancelled:
          type: boolean
    GuildRank:
      type: object
      properties:
        guildID:
          type: string
        roleID:
          type: string
        inviteCount:
          type: integer
    GuildPlugin:
      type: object
      properties:
        guildID:
          type: string
        pluginName:
          type: string
        pluginData:
          type: object
    UserLeaderboardEntry:
      type: object
      properties:
        userID:
          type: string
        invites:
          type: integer
        regular:
          type: integer
        leaves:
          type: integer
        bonus:
          type: integer
        fake:
          type: integer
    GuildMember:
      type: object
      properties:
        userID:
          type: string
        guildID:
          type: string
        storageID:
          type: string
        fake:
          type: integer
        leaves:
          type: integer
        bonus:
          type: integer
        regular:
          type: integer
        notCreated:
          type: boolean
        invites:
          type: integer
    GuildMemberEvent:
      type: object
      properties:
        userID:
          type: string
        guildID:
          type: string
        eventType:
          type: string
          example: join, leave
        eventDate:
          type: integer
        joinType:
          type: string
          example: normal, oauth, vanity, perm, unknown
        inviterID:
          type: string
        inviteData:
          type: object
        storageID:
          type: string
        joinFake:
          type: boolean
    TransactionData:
      type: object
      properties:
        subID:
          type: string
        guildID:
          type: string
    NewlyCancelledPayment:
      type: object
      properties:
        payerDiscordID:
          type: string
        subID:
          type: string
        paymentID:
          type: string
        guildID:
          type: string
        subLabel:
          type: string
